<h2>Posts!</h2>
<br><br>
<%= link_to "New post", new_post_path %>
<ul>
    <% @posts.each do |post| %>
        <li>
            <h3><%= post.title %></h3>
            <p><%= post.body %></p>
            <% if user_signed_in? %>
                <p> Author: <%= post.user.username %></p>
            <% end %>
        </li>
    <% end %>
</ul>